html{
    background-color: white;
    display: grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    justify-self: center;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header>.tabs {
    margin-left: auto;
    margin-right: 50px;
}

.header>.tabs>button {
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    height: 70px;
    min-width: 80px;
    transition: all 0.3s;
}

.header>.tabs>button:hover {
    background-color: rgb(194, 194, 194);
    color: black;
}

.main-content{
    display: grid;
}

.main-content>*{
    grid-row: 1;
    grid-column: 1;
    opacity: 1;
    width: 100%;
    height: auto;
    border: none;
    transition: all 0.15s ease-in-out;
    transition-delay: 0.15s;
}

.main-content>*.inactive{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out;
}

/* Home tab */

#frame1{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 30% 30% 30%;
}

.bubble{
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
    background: transparent;
}

.bubble:hover{
    background-color: rgb(255, 255, 255);
}

@keyframes rotation{
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.bubble:focus-within::before, .bubble:focus-within::after{
    content: '';
    display: block;
    z-index: 0;
    position: absolute;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle), transparent, transparent 20%, cyan 50%, transparent 50%, transparent 70%, cyan 100%);
    inset: 0;
    animation: 6s rotation linear infinite;
}

.bubble:focus-within::after{
    z-index: 1;
    filter: blur(15px);
    opacity: 0.5;
}

.bubble>button{
    display: block;
    z-index: 2;
    border: none;
    background-image: url(https://cdn-icons-png.freepik.com/512/149/149206.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    inset: 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.bubble>button:hover, button:focus{
    opacity: 1;
}

#bubble1{
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}

#bubble2{
    grid-row: 3;
    grid-column: 3;
    justify-self: right;
}
#bubble3{
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
}
#bubble4{
    grid-row: 3;
    grid-column: 1;
    justify-self: left;
}

#step-description{
    grid-row: 3;
    grid-column: 2;
}

/* About tab */

.member{
    display: grid;
    width: 100%;
    max-height: 400px;
}

.member.left{
    grid-template-areas: "photo name" "photo description";
}

.member.right{
    grid-template-areas: "name photo" "description photo";
}

.member>img{
    grid-area: photo;
    height: 100px;
    width: 100px;
}

.member>spam{
    grid-area: name;
    font-size: 2rem;
}

.member.right>spam{
    text-align: right;
}

.member>p{
    grid-area: description;
}