.tabs {
  height: 70px;
  min-width: 100px;
  display: flex;
  flex-direction: row;

  >button{
    display: none;
    height: 70px;
  }

  > .tab {
    height: 100%;
    border: none;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 70px;
    background-color: transparent;
    border-radius: 35px;
    color: inherit;
    height: 70px;
    min-width: 80px;
    transition: all 0.3s;
    text-decoration: none;

    &:hover {
      color: rgb(219, 219, 219);
      background-color: rgba(32, 32, 32, 0.8);
    }
  }
}

@media only screen and (max-width: 600px) {
  .tabs {
    flex-direction: column;
    margin-right: 10px;

    >*{
      flex-shrink: 0;
    }
  
    >button{
      display: block;
      height: 70px;
      width: 100px;
      background: rgb(175, 175, 175);
      mask-image: url(/menu.png);
      mask-size: 60%;
      mask-repeat: no-repeat;
      mask-position: center;
      border: none;

      &:focus{
        background: rgb(70, 70, 70);
      }
    }

    >.tab{
      display: none;
      background-color: rgb(249, 249, 250);
    }

    &.open{
      >.tab{
        display: block;
      }
    }
  }
}
