html {
  background-color: white;
  display: grid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  width: 100vw;
  height: 100vh;
  justify-self: center;
  position: absolute;
  display: grid;
  color: rgb(65, 65, 65);
  overflow-x: hidden;
}

p {
  color: rgb(70, 70, 70);
}

.main-layout {
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  justify-self: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgb(65, 65, 65);



  >.header {
    background: linear-gradient(rgb(228, 228, 228), rgb(255, 255, 255) 100%);
    position: sticky;
    top: 0;
    color: white;
    height: 70px;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    z-index: 2;
    box-shadow: 2px 2px 4px 3px rgb(228, 228, 228);
    flex-grow: 0;
    >img {
      margin: 0px 10px;
    }
  }

  >.main-content {
    padding: 25px;
    z-index: 1;
    position: relative;
    width: auto;
    border: none;
    overflow-y: hidden;
    flex-grow: 1;
    min-height: 550px;
  }

  >.footer-wrapper {
    position: relative;
    margin-top: auto;
    bottom: 0;
    min-height: 300px;
    width: 100%;
    flex-grow: 0;

    &:before {
      content: "";
      display: block;
      border-top: rgb(202, 202, 202) 1px solid;
      height: 100%;
      width: 100%;
      mask-image: linear-gradient(90deg,
          transparent 0%,
          white 50%,
          transparent 100%);
      mask-repeat: no-repeat;
    }

    >span {
      display: block;
      position: absolute;
      top: 0;
    }
  }

}