// _theme-maps.scss
$theme-colors: (
  "light": ("primary": #007bff,
    "secondary": #6c757d,
    "background": #f8f9fa,
    "text": #000000),
  "dark": ("primary": #6610f2,
    "secondary": #adb5bd,
    "background": #343a40,
    "text": #FFFFFF)
);



@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mulish:wght@200..1000&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


/* Light theme variables */
[data-theme="light"] {
  --primary-color: #6610f2;
  --secondary-color: #adb5bd;
  --background-color: rgb(219, 219, 219);
  --background-filter: none;
  --text-color: #000000;

}

/* Dark theme variables */
[data-theme="dark"] {
  --primary-color: #14f210;
  --secondary-color: #adb5bd;
  --background-color: black;
  --background-filter: invert(90%);
  --text-color: rgb(219, 219, 219);
}

html {
  background-color: var(--background-color);
  display: grid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


body {
  background-color: transparent;
  margin: 0px;
  width: 100vw;
  height: auto;
  justify-self: center;
  display: grid;
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 200;

  >video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* Crucial: ensures video fills screen without stretching */
    position: fixed;
    /* Removes video from document flow */
    top: 0;
    left: 0;
    z-index: -1;
    /* Pushes video behind everything */

    &.light {
      opacity: .3;
    }

    &.dark {
      opacity: .3;
      filter: invert(100%);
    }
  }
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 48;
  // color: var(--text-color);
}

h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  // color: var(--text-color);
}

h3 {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  // color: var(--text-color);
}

p {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  // color: var(--text-color);
}

a {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 200;
  display: block;
  height: 36px;
  width: 108px;
  border-radius: 18;
  // color: var(--text-color);
  text-align: center;
  text-decoration: none;
  line-height: 36px;

  &.saiba-mais {
    color: rgb(219, 219, 219);
    border: solid 1px #071739;
    background-color: #0E2E72;
    font-weight: 400;
  }
}

.main-layout {
  width: 100vw;
  max-width: 1024px;
  justify-self: center;
  position: absolute;

  &::-webkit-scrollbar {
    display: none;
  }

  >.header {
    position: sticky;
    top: 40px;
    height: 88px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    z-index: 2;

    >a {
      height: 100%;
      width: 108px;
      position: relative;
      display: block;
      left: 20px;

      >img {
        position: absolute;
        inset: 0;
        margin: auto;
      }
    }

    &:before {
      content: '';
      background: rgba(112, 112, 112, 0.2);
      border-radius: 44px;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
    }
  }

  >.main-content {
    padding: 25px;
    z-index: 1;
    position: relative;
    width: auto;
    border: none;
    flex-grow: 1;
    min-height: 550px;

    >#cta {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px 0 300px 0;

      >h1 {
        width: 800px;
        font-size: 60;
        text-align: center;
      }

    }

    >.footer-wrapper {
      position: relative;
      margin-top: auto;
      bottom: 0;
      min-height: 300px;
      width: 100%;
      flex-grow: 0;

      &:before {
        content: "";
        display: block;
        border-top: rgb(202, 202, 202) 1px solid;
        height: 100%;
        width: 100%;
        mask-image: linear-gradient(90deg,
            transparent 0%,
            white 50%,
            transparent 100%);
        mask-repeat: no-repeat;
        position: absolute;
      }

      >span {
        display: block;
        position: absolute;
        top: 0;
      }
    }
  }
}