/* Home tab */

#frame1{
    display: grid;
    min-height: 700px;
    max-height: 1000px;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 30% 30% 30%;
}

.bubble{
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
    background: transparent;
}

.bubble:hover{
    background-color: rgb(255, 255, 255);
}

@keyframes rotation{
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.bubble:focus-within::before, .bubble:focus-within::after{
    content: '';
    display: block;
    z-index: 0;
    position: absolute;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle), transparent, transparent 20%, cyan 50%, transparent 50%, transparent 70%, cyan 100%);
    inset: 0;
    animation: 6s rotation linear infinite;
}

.bubble:focus-within::after{
    z-index: 1;
    filter: blur(15px);
    opacity: 0.5;
}

.bubble>button{
    display: block;
    z-index: 2;
    border: none;
    background-image: url(https://cdn-icons-png.freepik.com/512/149/149206.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    inset: 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.bubble>button:hover, button:focus{
    opacity: 1;
}

#bubble1{
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}

#bubble2{
    grid-row: 3;
    grid-column: 3;
    justify-self: right;
}
#bubble3{
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
}
#bubble4{
    grid-row: 3;
    grid-column: 1;
    justify-self: left;
}

#step-description{
    grid-row: 3;
    grid-column: 2;
}