/* Home tab */

.home-page{
  height: calc(100vh - 370px);
  min-height: 800px;
  display: flex;
  flex-direction: column;

  >h1{
    text-align: center;
  }
}

#frame1 {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  flex-grow: 1;
}