/* Home tab */

.home-page{
  height: auto;
  min-height: 800px;
  display: flex;
  flex-direction: column;

  >h1{
    text-align: center;
  }
}

#frame1 {
  padding: 15px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  flex-grow: 1;
}

@media only screen and (max-width: 1000px){
  #frame1{
    flex-direction: column;
  }
}