.bubble {
  position: relative;
  border: none;
  border-radius: 10px;
  width: 45%;
  flex-shrink: 1;
  --bubble-transition-time: 0.3s;
  transition: all var(--bubble-transition-time) ease-in-out;

  &:hover {
    box-shadow: 2px 2px 5px 3px rgb(228, 228, 228);
  }

  &:focus-within {
    flex-shrink: 0;
    box-shadow: 2px 2px 5px 3px rgb(228, 228, 228);
  }

  &:focus-within::before,
  &:focus-within::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    background-image: conic-gradient(
      from var(--angle),
      transparent,
      transparent 20%,
      cyan 50%,
      transparent 50%,
      transparent 70%,
      cyan 100%
    );
    inset: 0;
    animation: 12s rotation linear infinite;
  }

  &:focus-within::after {
    z-index: 1;
    filter: blur(7px);
    opacity: 0.5;
  }

  > button {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border: none;
    position: absolute;
    // mask-image: linear-gradient(
    //   90deg,
    //   transparent 0%,
    //   rgba(255, 255, 255) 25%,
    //   rgba(255, 255, 255) 75%,
    //   transparent 100%
    // );
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    inset: 5px;
    transition: all 0.3s;
    opacity: 0.8;
    &::-webkit-scrollbar{
      display: none;
    }

    > .home-icon-wrapper {
      transition: all var(--bubble-transition-time);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > img {
        align-self: center;
      }
    }

    > .home-service-description {
      flex-grow: 0;
      opacity: 0;
      transition: all 0s;
      height: 0;

      > * {
        margin: 5px 0px;
        text-align: left;
      }
      > p,
      ul {
        color: rgb(70, 70, 70);
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:focus {
      mask-image: none;
      overflow: scroll;
      >.home-icon-wrapper{
        flex-grow: 0;
        // >img{
        //   transition: all var(--bubble-transition-time);
        //   scale: 0.5
        // }
      }
      > .home-service-description {
        transition: opacity 0.3s;
        transition-delay: var(--bubble-transition-time);
        opacity: 1;
        flex-grow: 1;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .bubble{
    width: auto;
    flex-shrink: 0;
    height: 300px;

    &:focus-within{
      height: 600px;
    }
  }
}

@keyframes rotation {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
