.story-card {
    width: 400;
    position: relative;

    >.content {
        padding: 20px;
        >img {
            position: relative;
            top: 0;
            left: 0;
            margin-bottom: auto;
        }
    }

    ;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        z-index: -1;
    }
}